head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Georgia Census Data
  script(src='http://maps.googleapis.com/maps/api/js?sensor=false', type='text/javascript')
  script(src='/scripts/censusmap.js', type='text/javascript')
  link(href='/stylesheets/zoningmap.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/bootstrap-mini.css', rel='stylesheet', type='text/css')
body(onload='init()', style='padding:6px')
  div.container(style="height:100%;")
    .row
      .span12
        h3 Education Potential
        strong Click on a tract or change settings for more information
        select#eduLevel(onchange='loadEduData()')
          option(value='PreHighSchool') Pre High School
          option(value='HighSchool', selected='selected') High School
          option(value='SomeCollegeAssociate') Associates / Some College
          option(value='Bachelor') Bachelor's Degree
          option(value='Pro') Professional Degree

    .row(style="height:85%;")
      #map.span12(style="height:100%;")