head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Code Enforcement Data Check-Out
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')

body(style="text-align:center;")
  div.container-fluid(style="margin:30px 60px;")
    .row-fluid
      .span12
        h1 Housing Data
        p Get a timeline-map for any part of the City of Macon
        p Brought to you by Code for America

    br
    br

    .row-fluid
      .span2
      .span4
        h2 Choose a neighborhood
        p
          a(href="http://datahub.io/dataset/macon-neighborhoods", target="_blank") Neighborhood boundaries
          span &nbsp;provided by Macon Police Department
          br
          br
          span Map tiles by Stamen Design
          br
          br
          span Street data &copy; OpenStreetMap contributors
      .span4
        a.span12(href="/timeline-maker")
          h2 Draw your own:
          img.span12(src="/images/datacheckout.png")
      .span2

    br
    br

    .row-fluid
      .span3
        h3 Beall's Hill
        img.span12(src="/images/BeallsHill.png")
      
      .span3
        h3 Bellevue
        img.span12(src="/images/Bellevue.png")

      .span3
        h3 Bird City
        img.span12(src="/images/BirdCity.png")

      .span3
        h3 Bloomfield
        img.span12(src="/images/Bloomfield.png")

    br
    br

    .row-fluid
      .span3
        h3 Boulevard
        img.span12(src="/images/Boulevard.png")

      .span3
        h3 Bristol
        img.span12(src="/images/Bristol.png")

      .span3
        h3 Colonial Terrace
        img.span12(src="/images/ColonialTerrace.png")
        
      .span3
        h3 Davis Homes
        img.span12(src="/images/DavisHomes.png")

    br
    br

    .row-fluid
      .span3
        h3 Downtown
        img.span12(src="/images/Downtown.png")

      .span3
        h3 Edgewood Ave
        img.span12(src="/images/EdgewoodAve.png")

      .span3
        h3 Fort Hill
        img.span12(src="/images/FortHill.png")

      .span3
        h3 Griswoldville / Belvedere Manor
        img.span12(src="/images/Griswoldville.png")

    br
    br

    .row-fluid
      .span3
        h3 Groveland Park
        img.span12(src="/images/GrovelandPark.png")

      .span3
        h3 Hill Place / Underwood
        img.span12(src="/images/HillPlace.png")

      .span3
        h3 In Town
        img.span12(src="/images/InTown.png")

      .span3
        h3 Kings View
        img.span12(src="/images/KingsView.png")

    br
    br

    .row-fluid
      .span3
        h3 Lake Arrowhead
        img.span12(src="/images/LakeArrowhead.png")

      .span3
        h3 Lynmore Estates
        img.span12(src="/images/LynmoreEstates.png")

      .span3
        h3 McCall / Morningside
        img.span12(src="/images/McCall.png")

      .span3
        h3 Meriwood
        img.span12(src="/images/Meriwood.png")

    br
    br

    .row-fluid
      .span3
        h3 Ollie Drive
        img.span12(src="/images/OllieDrive.png")

      .span3
        h3 Parkview
        img.span12(src="/images/Parkview.png")

      .span3
        h3 Piedmont / Dixie Ave
        img.span12(src="/images/Piedmont.png")

      .span3
        h3 Pleasant Hill
        img.span12(src="/images/PleasantHill.png")

    br
    br

    .row-fluid
      .span3
        h3 Robert Henry St
        img.span12(src="/images/RobertHenrySt.png")

      .span3
        h3 Sherwood
        img.span12(src="/images/Sherwood.png")

      .span3
        h3 Shirley Hills
        img.span12(src="/images/ShirleyHills.png")

      .span3
        h3 Skyline / Horseshoe
        img.span12(src="/images/Skyline.png")

    br
    br

    .row-fluid
      .span3
        h3 Smokey Glover Drive
        img.span12(src="/images/SmokeyGloverDr.png")

      .span3
        h3 Trinity Sunnydale
        img.span12(src="/images/TrinitySunnydale.png")

      .span3
        h3 Triple Hill Drive
        img.span12(src="/images/TripleHillDr.png")

      .span3
        h3 Unionville
        img.span12(src="/images/Unionville.png")

    br
    br

    .row-fluid
      .span3
        h3 Village Green
        img.span12(src="/images/VillageGreen.png")

      .span3
        h3 Walnut Creek
        img.span12(src="/images/WalnutCreek.png")

      .span3
        h3 Wimbish Woods
        img.span12(src="/images/WimbishWoods.png")

      .span3
        h3 Wood Valley
        img.span12(src="/images/WoodValley.png")