head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Code Enforcement Data Check-Out
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')

body(style="text-align:center;")
  div.container-fluid(style="padding:30px;")
    .row-fluid
      .span12
        h2 Housing Data
        p Get a timeline-map for any part of the City of Macon
        p Brought to you by Code for America
  
    .row-fluid
      .span2
      .span4
        h3 Choose a neighborhood
        p
          a(href="http://datahub.io/dataset/macon-neighborhoods", target="_blank") Neighborhood boundaries
          span &nbsp;provided by Macon Police Department
          br
          br
          span Map tiles by Stamen Design
          br
          br
          span Street data &copy; OpenStreetMap contributors
      .span4
        a.span12(href="/timeline-maker")
          h3 Draw your own:
          img.span12(src="/images/datacheckout.png")
      .span2

    .row-fluid
      .span3
        h4 Beall's Hill
        img.span12(src="/images/BeallsHill.png")
      
      .span3
        h4 Bellevue
        img.span12(src="/images/Bellevue.png")

      .span3
        h4 Bird City
        img.span12(src="/images/BirdCity.png")

      .span3
        h4 Bloomfield
        img.span12(src="/images/Bloomfield.png")

    .row-fluid
      .span3
        h4 Boulevard
        img.span12(src="/images/Boulevard.png")

      .span3
        h4 Bristol
        img.span12(src="/images/Bristol.png")

      .span3
        h4 Colonial Terrace
        img.span12(src="/images/ColonialTerrace.png")
        
      .span3
        h4 Davis Homes
        img.span12(src="/images/DavisHomes.png")

    .row-fluid
      .span3
        h4 Downtown
        img.span12(src="/images/Downtown.png")

      .span3
        h4 Edgewood Ave
        img.span12(src="/images/EdgewoodAve.png")

      .span3
        h4 Fort Hill
        img.span12(src="/images/FortHill.png")

      .span3
        h4 Griswoldville / Belvedere Manor
        img.span12(src="/images/Griswoldville.png")

    .row-fluid
      .span3
        h4 Groveland Park
        img.span12(src="/images/GrovelandPark.png")

      .span3
        h4 Hill Place / Underwood
        img.span12(src="/images/HillPlace.png")

      .span3
        h4 In Town
        img.span12(src="/images/InTown.png")

      .span3
        h4 Kings View
        img.span12(src="/images/KingsView.png")

    .row-fluid
      .span3
        h4 Lake Arrowhead
        img.span12(src="/images/LakeArrowhead.png")

      .span3
        h4 Lynmore Estates
        img.span12(src="/images/LynmoreEstates.png")

      .span3
        h4 McCall / Morningside
        img.span12(src="/images/McCall.png")

      .span3
        h4 Meriwood
        img.span12(src="/images/Meriwood.png")

    .row-fluid
      .span3
        h4 Ollie Drive
        img.span12(src="/images/OllieDrive.png")

      .span3
        h4 Parkview
        img.span12(src="/images/Parkview.png")

      .span3
        h4 Piedmont / Dixie Ave
        img.span12(src="/images/Piedmont.png")

      .span3
        h4 Pleasant Hill
        img.span12(src="/images/PleasantHill.png")

    .row-fluid
      .span3
        h4 Robert Henry St
        img.span12(src="/images/RobertHenrySt.png")

      .span3
        h4 Sherwood
        img.span12(src="/images/Sherwood.png")

      .span3
        h4 Shirley Hills
        img.span12(src="/images/ShirleyHills.png")

      .span3
        h4 Skyline / Horseshoe
        img.span12(src="/images/Skyline.png")

    .row-fluid
      .span3
        h4 Smokey Glover Drive
        img.span12(src="/images/SmokeyGloverDr.png")

      .span3
        h4 Trinity Sunnydale
        img.span12(src="/images/TrinitySunnydale.png")

      .span3
        h4 Triple Hill Drive
        img.span12(src="/images/TripleHillDr.png")

      .span3
        h4 Unionville
        img.span12(src="/images/Unionville.png")

    .row-fluid
      .span3
        h4 Village Green
        img.span12(src="/images/VillageGreen.png")

      .span3
        h4 Walnut Creek
        img.span12(src="/images/WalnutCreek.png")

      .span3
        h4 Wimbish Woods
        img.span12(src="/images/WimbishWoods.png")

      .span3
        h4 Wood Valley
        img.span12(src="/images/WoodValley.png")