head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Code Enforcement Data Check-Out
  link(rel='stylesheet', href='/carto/stylesheets/leaflet.css', type='text/css')
  link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.css', type='text/css')
  // [if lte IE 8]
    link(rel='stylesheet', href='/carto/stylesheets/leaflet.ie.css', type='text/css')
    link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.ie.css', type='text/css')
  link(rel='stylesheet', href='/carto/stylesheets/cartodb-leaflet.css', type='text/css')
  link(href='/stylesheets/bootstrap-mini.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/jquery-ui-slider.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/checkouttime.css', rel='stylesheet', type='text/css')
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='/scripts/jquery-1.6.2.min.js', type='text/javascript')
  script(src='/scripts/jquery-ui-slider.min.js', type='text/javascript')
  script(type="text/javascript", src="/pancontrol/scripts/L.Control.Pan.js")
  script(src='/scripts/checkouttimemaker.js', type='text/javascript')

body
  div#sidebar(style="left:initial;right:12%;border:1px solid #000;")
    div#timeline
      h2 Code Enforcement Timeline Maker
      p
        span Animate cases in your neighborhood from January 1997 to May 2012!
        br
        span Locations are approximate. See&nbsp;
        a.visible(style="font-size:inherit;", href="http://homestatus.herokuapp.com") HomeStatus
        span &nbsp;for detailed cases from 2009-2012.
        br
        span#movetime(style="color:#00f;") 1) Move points on the blue shape to cover your neighborhood.
        br
        span.aftermove 2)&nbsp;
        a.visible.aftermove(href="#", onclick="postGeo('html')", style="font-size:inherit;") View Web Map

  div#map