head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Code Enforcement Data Check-Out
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  style(type="text/css") a.span11:hover{ background-color:#dadaff; }

body(style="text-align:center;")
  div.container-fluid(style="margin:30px 60px;")
    .row-fluid
      .span12
        h1 Housing Data
        p Get a timeline-map for any part of the City of Macon
        p Brought to you by Code for America

    br
    br

    .row-fluid
      .span2
      .span4
        h2 Choose a neighborhood
        p
          a(href="http://datahub.io/dataset/macon-neighborhoods", target="_blank") Neighborhood boundaries
          span &nbsp;provided by Macon Police Department
          br
          br
          span Map tiles by Stamen Design
          br
          br
          span Street data &copy; OpenStreetMap contributors
      .span4
        a.span12(href="/timeline-maker")
          h2 Draw your own:
          img.span12(src="/images/datacheckout.png")
      .span2

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=50943c88e37aad020000000c")
          h3 Beall's Hill
          img.span12(src="/images/BeallsHill.png")
      
      .span3
        a.span11(href="/timeline?customgeo=50943ce9e37aad0200001978")
          h3 Bellevue
          img.span12(src="/images/Bellevue.png")

      .span3
        a.span11(href="/timeline?customgeo=50943d2ce37aad0200008eac")
          h3 Bird City
          img.span12(src="/images/BirdCity.png")

      .span3
        a.span11(href="/timeline?customgeo=50943daae37aad0200008eb1")
          h3 Bloomfield
          img.span12(src="/images/Bloomfield.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=50943e1be37aad0200008f4b")
          h3 Boulevard
          img.span12(src="/images/Boulevard.png")

      .span3
        a.span11(href="/timeline?customgeo=50943ec618f0c60200000001")
          h3 Bristol
          img.span12(src="/images/Bristol.png")

      .span3
        a.span11(href="/timeline?customgeo=50943ef218f0c60200000010")
          h3 Colonial Terrace
          img.span12(src="/images/ColonialTerrace.png")
        
      .span3
        a.span11(href="/timeline?customgeo=50943f1b18f0c60200000046")
          h3 Davis Homes
          img.span12(src="/images/DavisHomes.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=50943fee18f0c60200000055")
          h3 Downtown
          img.span12(src="/images/Downtown.png")

      .span3
        a.span11(href="/timeline?customgeo=5094401418f0c60200000062")
          h3 Edgewood Ave
          img.span12(src="/images/EdgewoodAve.png")

      .span3
        a.span11(href="/timeline?customgeo=5094402f18f0c60200000223")
          h3 Fort Hill
          img.span12(src="/images/FortHill.png")

      .span3
        a.span11(href="/timeline?customgeo=5094405418f0c60200001415")
          h3 Griswoldville / Belvedere Manor
          img.span12(src="/images/Griswoldville.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=5094407918f0c6020000142b")
          h3 Groveland Park
          img.span12(src="/images/GrovelandPark.png")

      .span3
        a.span11(href="/timeline?customgeo=509440ac18f0c602000014ec")
          h3 Hill Place / Underwood
          img.span12(src="/images/HillPlace.png")

      .span3
        a.span11(href="/timeline?customgeo=509440dc18f0c602000014f3")
          h3 In Town
          img.span12(src="/images/InTown.png")

      .span3
        a.span11(href="/timeline?customgeo=509440fc18f0c6020000151d")
          h3 Kings View
          img.span12(src="/images/KingsView.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=5094414618f0c6020000156e")
          h3 Lake Arrowhead
          img.span12(src="/images/LakeArrowhead.png")

      .span3
        a.span11(href="/timeline?customgeo=5094416818f0c602000015ad")
          h3 Lynmore Estates
          img.span12(src="/images/LynmoreEstates.png")

      .span3
        a.span11(href="/timeline?customgeo=5094419818f0c602000019f2")
          h3 McCall / Morningside
          img.span12(src="/images/McCall.png")

      .span3
        a.span11(href="/timeline?customgeo=509441c618f0c60200001a10")
          h3 Meriwood
          img.span12(src="/images/Meriwood.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=509441e318f0c60200001a85")
          h3 Ollie Drive
          img.span12(src="/images/OllieDrive.png")

      .span3
        a.span11(href="/timeline?customgeo=509441ff18f0c60200001aba")
          h3 Parkview
          img.span12(src="/images/Parkview.png")

      .span3
        a.span11(href="/timeline?customgeo=5094421e18f0c60200001ac1")
          h3 Piedmont / Dixie Ave
          img.span12(src="/images/Piedmont.png")

      .span3
        a.span11(href="/timeline?customgeo=5094425618f0c60200001ba2")
          h3 Pleasant Hill
          img.span12(src="/images/PleasantHill.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=5094429218f0c602000023e3")
          h3 Robert Henry St
          img.span12(src="/images/RobertHenrySt.png")

      .span3
        a.span11(href="/timeline?customgeo=509442bf18f0c60200002492")
          h3 Sherwood
          img.span12(src="/images/Sherwood.png")

      .span3
        a.span11(href="/timeline?customgeo=509442ea18f0c602000024da")
          h3 Shirley Hills
          img.span12(src="/images/ShirleyHills.png")

      .span3
        a.span11(href="/timeline?customgeo=5094430618f0c60200002502")
          h3 Skyline / Horseshoe
          img.span12(src="/images/Skyline.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=5094434018f0c6020000253a")
          h3 Smokey Glover Drive
          img.span12(src="/images/SmokeyGloverDr.png")

      .span3
        a.span11(href="/timeline?customgeo=5094436018f0c6020000253c")
          h3 Trinity Sunnydale
          img.span12(src="/images/TrinitySunnydale.png")

      .span3
        a.span11(href="/timeline?customgeo=5094438118f0c60200002593")
          h3 Triple Hill Drive
          img.span12(src="/images/TripleHillDr.png")

      .span3
        a.span11(href="/timeline?customgeo=509443a318f0c6020000311d")
          h3 Unionville
          img.span12(src="/images/Unionville.png")

    br
    br

    .row-fluid
      .span3
        a.span11(href="/timeline?customgeo=509443cd18f0c602000054a8")
          h3 Village Green
          img.span12(src="/images/VillageGreen.png")

      .span3
        a.span11(href="/timeline?customgeo=509443ef18f0c60200005639")
          h3 Walnut Creek
          img.span12(src="/images/WalnutCreek.png")

      .span3
        a.span11(href="/timeline?customgeo=509439ed5dd7f6020000000d")
          h3 Wimbish Woods
          img.span12(src="/images/WimbishWoods.png")

      .span3
        a.span11(href="/timeline?customgeo=509439ae5dd7f60200000001")
          h3 Wood Valley
          img.span12(src="/images/WoodValley.png")