head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Code Enforcement Data Check-Out
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')

body(style="text-align:center;")
  div.container-fluid(style="padding:30px;")
    .row-fluid
      .span12
        h2 Housing Data
        p Get a timeline-map for any part of the City of Macon
        p Brought to you by Code for America
  
    .row-fluid
      .span5
        a.span12(href="/timeline-maker")
          h3 Draw your neighborhood
          img.span6(src="/images/datacheckout.png")
      .span2
        h2 or
      .span5
        h3 Choose one below
        p
          a(href="http://datahub.io/dataset/macon-neighborhoods", target="_blank") Neighborhood boundaries
          span &nbsp;provided by Macon Police Department

    .row-fluid
      .span3
        h4 Beall's Hill
        img.span12(src="/images/BeallsHill.png")
      
      .span3
        h4 Bellevue
        img.span12(src="/images/Bellevue.png")

      .span3
        h4 Bird City
        img.span12(src="/images/BirdCity.png")

      .span3
        h4 Bloomfield
        img.span12(src="/images/Bloomfield.png")

    .row-fluid
      .span3
        h4 Boulevard
        img.span12(src="/images/Boulevard.png")

      .span3
        h4 Bristol
        img.span12(src="/images/Bristol.png")

      .span3
        h4 Colonial Terrace
        img.span12(src="/images/ColonialTerrace.png")
        
      .span3
        h4 Davis Homes
        img.span12(src="/images/DavisHomes.png")

    .row-fluid
      .span3
        h4 Downtown
        img.span12(src="/images/Downtown.png")

      .span3
        h4 Edgewood Ave
        img.span12(src="/images/EdgewoodAve.png")

      .span3
        h4 Fort Hill
        img.span12(src="/images/FortHill.png")

      .span3
        h4 Griswoldville / Belvedere Manor

    .row-fluid
      .span3
        h4 Groveland Park

      .span3
        h4 Hill Place / Underwood

      .span3
        h4 In Town

      .span3
        h4 Kings View

    .row-fluid
      .span3
        h4 Lake Arrowhead

      .span3
        h4 Lynmore Estates

      .span3
        h4 McCall / Morningside

      .span3
        h4 Meriwood

    .row-fluid
      .span3
        h4 Ollie Drive

      .span3
        h4 Parkview

      .span3
        h4 Piedmont / Dixie Ave

      .span3
        h4 Pleasant Hill

    .row-fluid
      .span3
        h4 Robert Henry St

      .span3
        h4 Sherwood

      .span3
        h4 Shirley Hills

      .span3
        h4 Skyline / Horseshoe

    .row-fluid
      .span3
        h4 Smokey Glover Drive

      .span3
        h4 Trinity Sunnydale

      .span3
        h4 Triple Hill Drive

      .span3
        h4 Unionville

    .row-fluid
      .span3
        h4 Village Green

      .span3
        h4 Walnut Creek

      .span3
        h4 Wimbish Woods

      .span3
        h4 Wood Valley