head
  title KlondiKopter
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')
body(style='font-family: "Nixie One", arial;')

  div.container-fluid(style='padding-top:25px;')
    .row-fluid
      .span2
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Concept
            li.active
              a(href="#") Home
            li
              a(href="#") The TacoCopter
            li
              a(href="#") Objectives
            
            li.nav-header Technology
            li
              a(href="#") QuadCopter
            li
              a(href="#") GPS
            li
              a(href="#") Open Hardware
        
      .span10
        .well(style='background:url("http://hackadaycom.files.wordpress.com/2010/05/wyvern-quadcopter-e1272893178733.jpg");text-align:right;padding-right:10%;background-repeat:no-repeat;background-size:500px;height:260px;')
          h1(style='font-size:30pt;') KlondiKopter
          br
          h3 Drone-delivered food and medicine
          br
          h3 A concept from&nbsp;
            a(href="http://codeforamerica.org") Code for America
          br
          a.btn.btn-primary Sounds Cool

        .row-fluid
          .span4
            h2 A Public Good
            p Deliver medicine when it's needed.
            p Work with the Department of Defense and Department of Veterans Affairs to improve their medical services network in remote parts of the country.
        
          .span4
            h2 Efficiency
            p There are kids traveling to school by plane, stores being supplied by helicopters, and ferries running around the clock to supply remote cities.
            p Why not use smaller, unmanned, electric vehicles to make deliveries on demand?
        
          .span4
            h2 Fresh Food
            p It can be difficult to get fresh and healthy food in remote areas of the US. There are times of the year where it's unsafe to send a human pilot just to deliver orange juice, so prices for frozen fruits and vegetables skyrocket.
            p Why not send a robot?