head
  title Honolulu Answers
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')

body(style='font-family: "Nixie One", arial;')

  div.container-fluid(style="padding-top:30px;")
    .row-fluid
      .span1
      .span10
        .well(style='background:url("http://i.imgur.com/sJgws.png");background-repeat:no-repeat;background-size:550px;text-align:right;height:220px;background-color:#000;color:#fff;')
          div(style='float:right;background-color:#000;padding:10px 10px;')
            h1(style='font-size:30pt;') Honolulu Answers
            br
            h3 Rewrite local government, your way.
            br
            h3 Brought to you by&nbsp;
              a(href="http://codeforamerica.org") Code for America
              br
              span &nbsp;and&nbsp;
              a(href="http://honolulu.gov") City & County of Honolulu
            br
            a.btn.btn-primary(href="http://honoluluanswers.eventbrite.com") Join Us: July 28th
          div(style="clear:both")

        .row-fluid

          .span5(style="margin-left:50px;")
            h2 Introducing: Honolulu Answers
            p
              h4 Have you ever gotten lost on a government website?
            p Code for America is launching a new search interface which answers questions, instead of search keywords.
            p Our goal is to make it as easy and accessible as asking a real person.
            iframe(src="http://player.vimeo.com/video/43632898", width="340", height="260", frameborder="0")

          .span1

          .span5
            h2 What We Do 
            p Join us in drafting new answers to common questions, such as:
            ul
              li Where do I get a camping permit?
              li When is my garbage pick-up?
              li How do I renew my driver's license?
            
            img.span10(src="http://i.imgur.com/lw2f1.png")