head
  title Macon Houses Map
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='/scripts/mapshouses.js', type='text/javascript')
  link(href='/stylesheets/leaflet.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/leaflet.ie.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/mapshome.css', rel='stylesheet', type='text/css')
body(onload='init()')
  br
  h2#address.center Address loading...
  div#map.center