head
  title Macon Maps
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')
  link(href='/stylesheets/responsiveevent.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/homeswitch.js")
body(style='font-family: "Nixie One", arial;')

  div.container-fluid(style='padding-top:25px;')
    .row-fluid
      .span2
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header About
            li.active
              a(href="/") MaconMaps.com
            
            li.nav-header Datasets
            li
              a(href="http://datahub.io/dataset/mta-bus-tracking", target="_blank") Buses
            li
              a(href="http://datahub.io/dataset/macon-parks") Parks
            li
              a(href="http://homestatus.herokuapp.com", target="_blank") Housing
            li
              a(href="http://maconmaps.herokuapp.com/promise", target="_blank") Buildings

            li.nav-header Created by
            li
              a(href="http://codeforamerica.org") Code for America
            li
              a(href="http://knightfoundation.org") Knight Foundation
            li
              a(href="http://cityofmacon.net") City of Macon

        
      .span10
        img#backupimg(src="/images/MaconTiltShadow.png")
        .row-fluid
          .span12
            .well#eventpiece
              h1(style='font-size:30pt;') Macon Maps
              br
              h3 Open Data for Middle Georgia
              br
              h3 Brought to you by&nbsp;
                a(href="http://codeforamerica.org") Code for America
              br
              div(style="clear:both;")

        .row-fluid
          .span6
            h2 About OpenStreetMap
            p
              h4 Code for America is opening data to make the best map of Macon, ever.
            p
              span When you edit&nbsp;
              a(href='http://www.openstreetmap.org/?lat=32.845&lon=-83.6348&zoom=14&layers=Q') OpenStreetMap
              span &nbsp;you're making a better map for all of us.
            p How do companies catch up to Google and release their own maps?&nbsp;
              a(href="http://arstechnica.com/apple/2012/05/two-months-later-apple-acknowledges-use-of-openstreetmap-in-iphoto/") They use OpenStreetMap.
            p Craigslist is&nbsp;
              a(href="http://idealab.talkingpointsmemo.com/2012/08/craigslist-maps-test-openstreetmap.php") mapping your next apartment
              span &nbsp;on OpenStreetMap.
            p Foursquare uses and edits OpenStreetMap&nbsp;
              a(href="http://foursquare.com") to map places and check-ins worldwide
            p OpenStreetMap is even used to make&nbsp;
              a(href="http://softcities.net/") blankets and "mapkins".
     
          .span6
            h2 Data Tips
            ul
              li
                span You can view almost any KML file in Google Maps. Paste the URL into the search bar,&nbsp;
                a(href="https://maps.google.com/maps?q=http:%2F%2Fhistoric-macon.herokuapp.com%2Ftimeline-at.kml%3Fcustomgeo%3D5080a0bf5766800200000346%26r%3D2&hl=en&sll=32.858168,-83.677044&sspn=0.039727,0.074587&t=m&z=14") like this.
              li
                span You can download Macon and Bibb County from OpenStreetMap at&nbsp;
                a(href="http://metro.teczno.com/") metro.teczno.com
              li When building on top of OpenStreetMap, the data is free, but always give credit.
              li
                span The US Census maps the entire US at&nbsp;
                a(href="http://www.census.gov/geo/www/tiger/shp.html") TIGER.
              li
                span Make your own maps by downloading&nbsp;
                a(href="http://mapbox.com/tilemill/") TileMill
                span &nbsp;or using&nbsp;
                a(href="http://cloudmade.com/products/style-editor") CloudMade
                span &nbsp;online.

        .row-fluid
          .span12
            h2 Build on it
            p Select an OpenStreetMap style
            .row-fluid.nav-tabs
              a.active.span3(href="javascript:setTile('mapquest')")
                img.span12(src="http://otile4.mqcdn.com/tiles/1.0.0/osm/15/8771/13216.png")
                br
                span MapQuest Open
              a.span3(href="javascript:setTile('skobbler')")
                img.span12(src="http://tiles1.skobbler.net/osm_tiles2/15/8771/13216.png")
                br
                span Skobbler
              a.span3(href="javascript:setTile('stamen')")
                img.span12(src="http://a.tile.stamen.com/toner/15/8771/13216.png")
                br
                a(href="http://maps.stamen.com") Stamen
                span &nbsp;Toner
              a.span3(href="javascript:setTile('mapnik')")
                img.span12(src="http://a.tile.openstreetmap.org/15/8771/13216.png")
                br
                span Mapnik
            
            p Add this OpenStreetMap layer on top of

        .row-fluid
          ul.span4.nav.nav-tabs.nav-stacked
            li#osmgoogletab.active
              a(href="javascript:switchTo('osmgoogle');") Google Maps
            li#esrijstab
              a(href="javascript:switchTo('esrijs');") Esri JS
            li#leaflettab
              a(href="javascript:switchTo('leaflet');") Leaflet
            li#openlayerstab
              a(href="javascript:switchTo('openlayers');") OpenLayers
            li#mapboxtab
              a(href="javascript:switchTo('mapbox');") MapBox / MM
          div.span8.well#osmgoogle(style="font-family:courier;")
            span map = new google.maps.Map(document.getElementById("map"), { mapTypeControlOptions:{ mapTypeIds:[google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE, 'MapQuest'] } });
            br
            span osmLayer = new google.maps.ImageMapType({
            br
            span &nbsp;&nbsp;getTileUrl: function(coord, zoom){
            br
            span &nbsp;&nbsp;&nbsp;&nbsp;return "http://otile1.mqcdn.com/tiles/1.0.0/osm/" + zoom + "/" + coord.x + "/" + coord.y + ".jpg";
            br
            span &nbsp;&nbsp;},
            br
            span &nbsp;&nbsp;tileSize: new google.maps.Size(256, 256),
            br
            span &nbsp;&nbsp;isPng: false,
            br
            span &nbsp;&nbsp;alt: "OpenStreetMap",
            br
            span &nbsp;&nbsp;name: "OpenStreetMap",
            br
            span &nbsp;&nbsp;maxZoom: 19
            br
            span });
            br
            span map.mapTypes.set('OpenStreetMap', osmLayer);
          div.span8.well#esrijs(style="display:none;font-family:courier;")
            span osmLayer = new esri.layers.OpenStreetMapLayer();
            br
            span map.addLayer(osmLayer);
            br
            span(style="font-family:arial;") OR
            br
            span osmLayer = new esri.layers.OpenStreetMapLayer({
            br
            span &nbsp;&nbsp;tileServers: [ "http://otile1.mqcdn.com/tiles/1.0.0/osm/" ]
            br
            span });
            br
            span map.addLayer(osmLayer);
            br
          div.span8.well#leaflet(style="display:none;font-family:courier;")
            span L.tileLayer( 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg' ).addTo(map);
            br
          div.span8.well#openlayers(style="display:none;font-family:courier;")
            span osmLayer = new OpenLayers.Layer.OSM( "MapQuest", ["http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.jpg"] );
            br
            span map.addLayer( osmLayer );
            br
          div.span8.well#mapbox(style="display:none;")
            span m.addLayer(new MM.TemplatedLayer('http://otile1.mqcdn.com/tiles/1.0.0/osm/{Z}/{X}/{Y}.jpg'));
            br
            span m.ui.attribution.add()
            br
            span &nbsp;&nbsp;.content('Tiles by MapQuest Data &amp;copy; OpenStreetMap contributors.');
            br

  script(type="text/javascript") var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-35749214-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();