head
  title Macon Maps Event
  link(href='/stylesheets/united.min.css', rel='stylesheet', type='text/css')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')
  link(href='/stylesheets/responsiveevent.css', rel='stylesheet', type='text/css')
body(style='font-family: "Nixie One", arial;')

  div.container-fluid(style='padding-top:25px;')
    .row-fluid
      .span2
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Event
            li.active
              a(href="/") MaconMaps.com
            li
              a(href="https://maps.google.com/maps?saddr=Poplar+St&daddr=Johnson+Ave&hl=en&ll=32.834705,-83.64398&spn=0.020193,0.037937&sll=32.834957,-83.641019&sspn=0.020193,0.037937&geocode=FdIK9QEdheAD-w%3BFTD-9AEdWpMD-w&mra=dme&mrsp=0&sz=15&t=m&z=15", target="_blank") Directions
            
            li.nav-header Datasets
            li
              a(href="http://mta-mac.com/map.html", target="_blank") Buses
            li
              a(href="http://maps.skobbler.com/?lat=32.83306&lon=-83.651026&z=18", target="_blank") Buildings
            li
              a(href="http://maps.skobbler.com/?lat=32.83607&lon=-83.63687&z=17", target="_blank") Parks
            li
              a(href="http://housepointer.heroku.com", target="_blank") Housing

            li.nav-header Team Macon
            li
              a(href="http://codeforamerica.org") Code for America

        
      .span10
        img#backupimg(src="/images/MaconTiltShadow.png")
        .well#eventpiece
          h1(style='font-size:30pt;') Macon Maps
          br
          h3 Middle Georgia's first mapping event
          br
          h3 Brought to you by&nbsp;
            a(href="http://codeforamerica.org") Code for America
          br
          a.btn.btn-primary Join Us: September 19
          br
          br
          span Center for Collaborative Journalism, Mercer University
          
        .row-fluid
          .span6
            h2 Objective: OpenStreetMap
            p
              h4 Macon and Bibb County are opening data to make the best map of Macon, ever.
            p
              span When you edit&nbsp;
              a(href='http://www.openstreetmap.org/?lat=32.845&lon=-83.6348&zoom=14&layers=Q') OpenStreetMap
              span &nbsp;you're making a better map for all of us.
            p How did Apple catch up to Google and release their own maps this year?&nbsp;
              a(href="http://arstechnica.com/apple/2012/05/two-months-later-apple-acknowledges-use-of-openstreetmap-in-iphoto/") They used OpenStreetMap.
            p Craigslist is&nbsp;
              a(href="http://idealab.talkingpointsmemo.com/2012/08/craigslist-maps-test-openstreetmap.php") mapping your next apartment
              span &nbsp;on OpenStreetMap.
            p Foursquare uses OpenStreetMap&nbsp;
              a(href="http://foursquare.com") on their website
            p OpenStreetMap is even used to make&nbsp;
              a(href="http://softcities.net/") blankets and "mapkins".
              
          .span4(style="display:none;")
            h2 Many styles, one map
            p
              img.span12(src="http://i.imgur.com/X72zv.jpg", alt="maps collage")
              br
              span Stamen Design uses OpenStreetMap to make beautiful maps.
            p
              a.btn(href="http://maps.stamen.com") Check it out &raquo;
              
          .span6
            h2 Neighborhoods
            p We've reached out to two Macon neighborhoods to help make maps that matter:
            p
              h4 College Hill
              span The College Hill Alliance supports business, art, and sports in the neighborhood surrounding Mercer University.
              br
              span Learn more at&nbsp;
              a(href='http://collegehillmacon.com/') CollegeHillMacon.com
            p
              h4 Lynmore Estates
              span Habitat for Humanity has built new homes and a Kaboom playground to revitalize a neighborhood in South Macon.
              br
              span Learn more at&nbsp;
              a(href="http://www.maconhabitat.org/current-building-projects") MaconHabitat.org