#eventpiece{
  background: url("../images/MaconTiltShadow.png");
  text-align: right;
  padding-right: 10%;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 220px;
}
#backupimg{
  display: none;
}

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px)  {
  #eventpiece{
    background-size: 250px;
    background-position: 0px 30px;
    height: 160px;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)  {
  #eventpiece{
    background: none;
    height: 300px;
  }
  #backupimg{
    display: block;
  }
  .sidebar-nav{
    display: none;
  }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover{
  background-color: #dadaff;
}

.nav-tabs a:hover{
  background-color: #eaeaff;
}